@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,500;1,700&display=swap');

/* Mobile first */
body {
  font-size: 16px;
}
a {
  color: #000;
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  transition: .5s ease;
}
body, a, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  letter-spacing: -1px;
}
footer {
  background: linear-gradient(0deg, #93D9B9, #93D9B9),
  linear-gradient(0deg, #C3EAD8, #C3EAD8);
}
footer ul {
  list-style: none;
  padding-left: 0;
}
.nav-item a:hover {
  color: #000;
}
.nav-item .nav-btn:hover {
  color: #fff;
}
.btn-rounded-full {
  border-radius: 2rem;
}
.hero, header {
  background: #C3EAD8;
}
.hero img {
  max-width: 100%;
}
.info-item {
  border-radius: 2rem;
}
.info-item img{
  max-width: 100%;
}
.info-item-bg {
  background: #fff;
  border-radius: 16px;
}

.info-item:hover img {
  scale: 1.2;
  transition: .5s ease;
}
.info-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: .5s ease;
}
.features {
  position: relative;
  margin: 2rem auto;
  padding: 1.5rem;
}
.features-1 {
  background: #F8E7DF;
}
.features-2 {
  background: #EEF2FB;
}
.features-3 {
  background: #E1F5EB;
}
.img-features {
  position: relative;
}
/* Why UPay */
.icon-box {
  background: #FEF86B;
}
.icon-box img {
  max-width: 36px;
}
.features-box a {
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}
.features-box a:hover {
  text-decoration: underline;
}
.features-box:hover {
  background: #C9ECDC;
}
.features-box:hover .icon-box {
  background: #fff;
}
.support-banner {
  background: #FFFEF0;
}
/* Logos */
.logos .col div {
  border: 1px solid #fff;
  transition: .5s ease;
}
.logos .col div:hover {
  border: 1px solid #ccc;
}
/* Quotes */
.blockquote-footer {
  background: #F8E7DF;
}
.quotes-box {
  background: #F8E7DF;
  border-radius: 2rem;
}
.carousel-indicators .carousel-btn {
  background-color: #a71717;
}

/* Accordion */
.accordion-custom {
  border: none;
  border-bottom: 1px solid #ccc;
  background: #fff;
  box-shadow: none;
}
.accordion-button,
.accordion-button:not(.collapsed) {
  background: #fff;
}
.accordion-item {
  border: 0;
}
.accordion-button h4 {
  color: #000;
}
.email-banner {
  background: #1C4F38;
  border-radius: 24px;
  color: #fff;
  padding: 2rem;
}
.quotes-box .blockquote {
  padding: 2rem;
}
/* Responsive style for big screens only */
@media (min-width: 1024px) {
  .cta .nav-link-primary {
    background: #212529;
    color: #fff;
    border-radius: 2rem;
    padding: 0 1rem;
    margin-left: .5rem;
  }
  .cta .nav-link-primary a {
    color: #fff;
  }

  .nav-link-outline {
    border: 1px solid #212529;
    border-radius: 2rem;
    margin-left: 1rem;
    padding: 0 1rem;
  }
  .cta .nav-link-primary:hover {
    color: #fff;
  }
  .quotes-box .blockquote {
    padding: 4rem 2rem;
  }
  .features {
    padding:5rem 5rem;
    margin: 10rem auto;
  }
  .img-features-container {
    position: relative;
  }
  .img-features {
    position: absolute;
    top: -190px;
    right: 0;
  }
  .img-features-left {
    left: 0;
  }
}
